# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# knitr figures
figure/

# any data present until verified othervise
/data

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# intermediate .tex files and logs
*.tex
*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf

# SPSS, word,..
*.sav
*.doc
*.docx

# Rdata files
*.Rd
*.Rdata
*.data.R

# Example code in package build process
*-Ex.R

.Rproj.user

# local .yml configurations
*.yml
